<html>

<head>
    <title>Chat bot</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

<body class="bg-dark">
    
    <form action="/chatBot" method="POST">
        <label for="message">Message</label>
        <input name="message" class="col-12"/>
        <button type="submit" class="btn btn-outline-warning col-12">Send</button>
    </form>
    
    </body>

</html>